*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 90%; 
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: var(--bg);   

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 235PX;
        width: 100%;       
        border-radius: 0 0 20px 20px;
        background-color: var(--topBgPatter);        
        z-index: -1;
    }
    
    @media (min-width: 768px) {
        width: 80%;
        max-width: 1152px;
    }
}  
